{% extends "base.html" %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="container py-5">
            <form action="" method="POST">
                {% csrf_token %}
                
            </form>
        </div>
    {% else %}
        <div class="container text-center my-5 d-grid">            
            <span class="fs-3 col-12 mb-3">Looks like you aren't logged in.</span>
            <div class="row justify-content-center">
                <button class="btn btn-primary col-4 col-lg-2 mx-3"> <a href="{% url 'account_login' %}" class="text-reset d-block text-decoration-none">Login</a> </button>
                <button class="btn btn-primary col-4 col-lg-2 mx-3"> <a href="{% url 'account_signup' %}" class="text-reset d-block text-decoration-none">Signup</a> </button>
            </div>           
        </div>
    {% endif %}
{% endblock content %}